Doctype(html)
html(xmlns="http://www.w3.org/1999/xhtml")
head
    title knockoutBasics

body
    h1 Monkey
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js")
    script(src="./../viewmodel/index.vm.js")
